@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400&family=Noto+Serif+Display:wght@100;200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
  --primaryColor: #674fa7;
  --purpleLight: #706293;
  --headerColor: #222222;
  --greyColor: #5a189a;
  --lineColor: #d7d7d7;
  --bgColor: #f6f6f6;
  --textGrey: #b0b0b0;
  --purpleColor: #1e1139;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--bgColor);
  /* padding: 0rem 4rem 0rem 4rem; */
  overflow-x: hidden;
}

.nav {
  padding-left: 4rem;
  padding-top: 0.6rem;
  height: 10vh;
  width: 100%;
  background-color: var(--bgColor);
  color: var(--primaryColor);
  font-size: 24px;
  font-weight: 600;
  box-shadow: 0px 0px 4px #7a7a7a;
  position: fixed;
}

/* Hero Section starts */

.App .heroSection {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 4rem 0rem 4rem;
}

.App .heroSection .left {
  /* padding: 3rem; */
  width: 60%;
}
.App .heroSection .left .heading {
  font-size: 36px;
  font-weight: 600;
}

.App .heroSection .left .heading:after {
  content: " Everyday";
  color: var(--primaryColor);
}

.App .heroSection .left .heading2 {
  font-size: 36px;
  font-weight: 600;
  color: var(--primaryColor);
}

.App .heroSection .left .subHeading {
  padding-top: 1.5rem;
  font-size: 20px;
}

.App .heroSection .left .exploreBtn {
  margin-top: 1.5rem;
  padding: 0.625rem;
  width: 150px;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #674ea7;
  color: var(--bgColor);
  font-size: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease-in-out 3ms;
}

.App .heroSection .left .exploreBtn:hover {
  opacity: 0.9;
}
.App .heroSection .right .heroImage img {
  height: 28rem;
}

/* Hero Section ends */

/* Events Section starts */

.App .eventSection {
  height: 100vh;
  padding: 0rem 4rem 0rem 4rem;
  background-color: var(--bgColor);
  width: 100%;
}

.App .eventSection .heading {
  padding-top: 3rem;
  font-size: 36px;
  font-weight: 600;
}

.App .eventSection .eventCards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App .eventSection .eventCard {
  margin-top: 2rem;
  width: 20rem;
  height: 25rem;
  background-color: var(--textGrey);
  border-radius: 0.3rem;
}

.App .eventSection .eventCard .eventImage {
  width: 20rem;
  height: 15rem;
  background-color: var(--purpleColor);
  border-radius: 0.3rem;
}

.App .eventSection .eventCard .eventHeading {
  padding-left: 1rem;
  font-size: 20px;
  font-weight: 600;
}

.App .eventSection .eventCard .eventDescription {
  padding-top: 0.5rem;
  padding-left: 1rem;
  font-size: 12px;
  font-weight: 500;
}

.App .eventSection .eventCard .time {
  padding-top: 0.5rem;
  padding-left: 1rem;
  font-size: 14px;
  font-weight: 500;
}

.App .eventSection .eventCard .registerBtn {
  margin-left: 8rem;
  margin-top: -1.5rem;
  padding: 0.625rem;
  width: 10rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purpleColor);
  border: 2px solid var(--bgColor);
  color: var(--bgColor);
  font-size: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.App .eventSection .seeMore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 8rem;
  height: 25rem;
  background-color: var(--purpleColor);
  border-radius: 0.3rem;
  font-size: 18px;
  color: var(--bgColor);
  font-weight: 500;
  cursor: pointer;
}

/* Event Section ends */

/*Follow club section Starts  */

.followSection {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.followSection .rect {
  width: 62rem;
  height: 24rem;
  background-color: #ebebeb;
  border-radius: 20px;
}
.followSection .rect .followHeading {
  font-size: 38px;
  font-weight: 500;
  padding: 3rem 4rem;
}
.followHeading .rect .btnnpic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.followSection .rect .btnnpic .btns {
  display: flex;
  align-items: flex-start;
  margin-left: 4rem;
  justify-content: center;
  flex-direction: column;
}
.followSection .rect .btnnpic .btns .btnrow1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 2rem;
}
.followSection .rect .btnnpic .btns .btnrow2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}
.followSection .rect .btnnpic .btns .btnrow1 .btn1,
.followSection .rect .btnnpic .btns .btnrow2 .btn1 {
  position: relative;
  width: 11rem;
  height: 2.5rem;
  border: 3px solid var(--primaryColor);
  border-radius: 0.2rem;
  font-family: inherit;
  color: var(--primaryColor);
  outline: none;
  padding: 1rem 1rem;
  background: none;
  font-size: 12px;
  margin-right: 2rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  z-index: 99;
}
.followSection .rect .btnnpic .btns .btnrow1 .btn1,
.followSection .rect .btnnpic .btns .btnrow2 .btn1:hover {
  border-color: var(--purpleLight);
}
.followSection .rect .btnnpic .btns .btnrow1 .btn1,
.followSection .rect .btnnpic .btns .btnrow2 .btn1:focus {
  border-color: var(--primaryColor);
}
.followSection .rect .btnnpic .pic {
  display: flex;
  justify-content: flex-end;
}
.followSection .rect .btnnpic .pic img {
  width: 22rem;
  height: auto;
}

/* Footer css Starts */
.footer {
  position: relative;
  left: -4vw;
  width: 105vw;
  height: 18rem;
  background: #222222;
  text-align: center;
  /* padding: 2rem 6.6rem; */
}
.footer .content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-start;
}
.footer .content .query {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3rem;
}
.footer .content .query .heading {
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 0.5rem;
  color: var(--bgColor);
}
.footer .content .query .queryContent {
  font-size: 14px;
  color: var(--textGrey);
}
.footer .content .query .queryContent2 {
  font-size: 14px;
  color: var(--textGrey);
}
.footer .content .query .queryContent3 {
  font-size: 14px;
  color: var(--textGrey);
}

/* box */

.footer .content .queryBox .form {
  margin-top: 3rem;
  position: relative;
  width: 18rem;
  height: 3.2rem;
}

.footer .content .queryBox .form .formInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1.75px solid var(--primaryColor);
  border-radius: 0.2rem;
  font-family: inherit;
  font-size: inherit;
  color: var(--textGrey);
  outline: none;
  padding: 1.25rem;
  background: none;
}

.footer .content .queryBox .form .formInput:hover {
  border-color: var(--purpleLight);
}

.footer .content .queryBox .form .formInput:focus {
  border-color: var(--primaryColor);
}

/* button */

.footer .content .queryBox .queryBtn {
  margin-top: 0.8rem;
  padding: 0.625rem;
  width: 18rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primaryColor);
  color: var(--bgColor);
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.footer .content .queryBox .queryBtn:hover {
  opacity: 0.9;
}
.footer .owner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: var(--textGrey);
  background: #222222;
  margin-bottom: 1.5rem;
}
.footer .owner .aditi,
.footer .owner .jayshree {
  color: var(--primaryColor);
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  cursor: pointer;
}
